<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth | {{title}}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
    <div class=" bg-secondary text-lg text-capitalize text-center ">
       <h1 class="text-info"> welcome to Django Auth Sys</h1>
       <p>hello {{request.user}}</p>
       <!-- <span><a href="{% url 'logout' %}">logout</a></span> -->
    </div>
    <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quaerat excepturi consectetur 
            repellendus beatae magni necessitatibus officiis perspiciatis quod dignissimos?
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et accusamus dolore nesciunt labore, in 
            doloribus delectus architecto similique, voluptatum dolor totam officia eaque hic consequatur quis 
            veniam quidem iste quo sit corrupti amet! Voluptates nesciunt nulla similique! Quis, quod vel. Eveniet 
            cum unde accusantium, reprehenderit voluptatem dignissimos deserunt nulla repellendus reiciendis eum maiores 
            iusto commodi natus quidem nemo sit molestiae. Quis sunt possimus obcaecati atque, nulla ex dolorum numquam
             voluptatem ipsum minus. Consequuntur porro, non provident doloribus rerum voluptatibus inventore architecto. 
             Possimus ipsum quibusdam omnis nostrum, veniam qui voluptas sed non! 
            Nostrum ducimus maxime quos aspernatur incidunt distinctio error deserunt.
        </p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit maxime repellat ipsa harum quidem, 
            facilis omnis itaque unde atque porro hic quas temporibus eveniet assumenda mollitia eius totam sint laboriosam
             soluta dolor placeat fugiat. Pariatur voluptas necessitatibus quasi doloremque distinctio 
            similique porro nobis dolores impedit maiores? Natus totam amet consequatur?
        </p>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script> 
</body>
</html>